.hero{
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.6532738095238095) 14%, rgba(42,154,29,0.8381477591036415) 100%); 
    display: flex;
}
.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    line-height: 1.3;
    letter-spacing: 0.5px;
    width: 50vw;
    align-items:center;
}
.hero-left h2{
    color: #090909;
    font-size: 50px;
    font-weight: 600;
    
}
.hero-left p{
    color: #171717;
    font-size: 30px;
    font-weight: 300;
    margin-top: 50px;

}
.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    background-color: #ff4141;
    margin-top: 80px;
    color: white;
    font-size: 22px;
    font-weight: 500;
    
}
.arrow{
    display: flex;
}
.hero-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.hero img{
    width: 30vw;
}